<script type="text/javascript">

function validate_and_post() {
        var img_url = document.forms["reply"]["img_url"].value;
        var msg = document.getElementById("textmsg").value;
        re_img_url = /^(https?:\/\/.*\.(?:png|jpg|gif|jpeg))$/i;
        if (img_url == "" || ! re_img_url.test(img_url)) {
                document.forms["reply"]["img_url"].focus();
                return false;
        }
        document.forms["reply"]["msg"].value = msg;
        document.forms["reply"].submit();
        return true;
}

</script>

<form id="reply" action="/post/" method="post">
        {% csrf_token %}
        <div type="row">
                <span class="label label-danger">* Image URL</span>
                <input type="text" class="span6" rows="1" cols="80" id="img_url" name="img_url">
        </div>
        <div type="row">
                <span class="label label-default">Message</span>
                <textarea class="span6" rows="5" cols="80" id="textmsg"></textarea>
                <input type="hidden" name="msg">
        </div>
        <div type="row">
                <input type="button" class="btn btn-info fixed-bottom" value="Start Thread" onclick="validate_and_post();">
        </div>
</form>
